body{
    background-color: rgb(226, 223, 223);
    display: block;
} 

#outer-box h1{
    text-align: center;
    color:aliceblue;
}
.first-box{
   position: sticky;
   background-color: rgb(88, 3, 84);
    padding: 20px 80px 10px;
}
h3{
    color: white;
    text-align: center;
}
.container{
    width:100%;
    background-color: white;
}
form{
    border: 2px solid black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} .contents{
    background-color: pink;
    margin: 0;
    padding: 50px;
 color:white;

     width: auto;
    border-radius: 30px;
} .section{
    margin: 0px 0px 10px;
    box-sizing: border-box;
}
.section input{
    margin: 4px 25px;
    padding: 10px 0px 10px 15px;
    font-family: Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: 8px 8px 9px rgba(102, 52, 5, 0.247);
    width: 15vw;
    outline: none;
    border: none;
}
.section input::placeholder{
    color: rgba(3, 3, 29, 0.199);
    font-weight: 600;
    font-family: Verdana, Tahoma, sans-serif;
    border: none;
}
.section label{
    color:rgb(88, 3, 84);
    border-radius: 10px;
}

.result{
    color: black;
}

button{
 float: right;
  color: white;
  border-radius: 35px;
  font-size: 20px;
  padding: 7px;
  outline: none;
  border: white;
  background-color: blue;
  margin-right: 30px;


}

 /*#text{
    padding: 14px;
    width: 7vw;
    color: black;

}

