body{
    width:100%;
    height: 100vh;
    
}
.box{
    margin: 20px 0px;
    display: block;
}
h1{
    color:white;
    text-align: center;
}

.first-box{
    background-color: rgb(88, 3, 84);
    padding: 80px;
    margin: 20px;

}
h3{
    color: white;
    text-align: center;
}

/* we will come back to resizing the table for phone screen size*/

table{
    border-collapse: collapse;
    margin-top: 3em;
}
.tbody{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* we will come back to resizing the table for phone screen size*/
th, td {
    width:auto;
    padding:  2em 7.8em;
    border-bottom: 5px solid rgb(255, 255, 255);
}

tr{
    background-color: rgba(139, 139, 214, 0.212);
    
}

